    /*完美支援320、375、425、768、1440、1536、1920px*/

    /**********************************Design for Phone*************************************/
    @media screen and (min-width: 320px){
        #inner-experience{
          margin:0px 0px !important;
        }
        #mail_jumbo{
          padding-top: 0px;
        }
        #mail pre{
          margin-left: 0px !important;
        }
        #inner-education{
          margin: 0px 0px !important;
        }
      }
      @media screen and (min-width: 375px){
        #inner-experience{
          margin:0px 0px !important;
        }
        #mail_jumbo{
          padding-top: 0px;
        }
        #mail pre{
          margin-left: 0px !important;
        }
        #inner-education{
          margin: 0px 0px !important;
        }
      }
      @media screen and (min-width: 425px) { /*Done*/
        #inner-experience{
          margin:0px 0px !important;
        }
        #mail_jumbo{
          padding-top: 0px;
        }
        #mail pre{
          margin-left: 0px !important;
        }
        #inner-education{
          margin: 0px 0px !important;
        }
      }
      /***************************************************************************************/
      @media screen and (min-width: 768px) { /*Done*/
        #inner-education{
          margin:0px 24px !important;
          margin-left: 8%;
        }
        #inner-experience{
          margin:0px 24px !important;
        }
        #mail pre{
          margin: 0px !important;
        }
        #mail_jumbo{
          padding-top: 0px !important;
        }
        #icon{
          padding-bottom: 0px;
        }
      }
  
      @media screen and (min-width: 1440px) { /*Done*/
        #inner-education{
          padding:0px 141px !important;
        }
        #contact{
          padding-left: 150px;
        }
        #inner-experience{
          padding:0px 141px !important;
        }
        #mail{
          padding-left: 165px;
          padding-top: 64px;
        }
        #icon{
          padding: 0px 150px;
        }
      }
  
      @media screen and (min-width: 1536px) { /*Done*/
        #inner-education{
          padding:0px 0px 0px 189px !important;
        }
        #inner-experience{
          padding: 0px 189px !important;
          margin-right:0px !important;
        }
        #contact{
          padding-left: 198px;
        }
        #icon{
          padding-left: 198px;
        }
        #mail{
          padding-top: 64px;
          padding-left: 213px;
        }
      }
  
      @media screen and (min-width: 1920px) { /*Done*/
        #inner-education{
          padding:0px 0px 0px 381px !important;
        }
        #inner-experience{
          padding-left: 381px !important;
          margin-right:0px !important;
        }
        #contact{
          padding-left: 390px;
        }
        #icon{
          padding-left: 390px;
        }
        #mail{
          padding-top: 64px;
          padding-left: 405px;
        }
      }