div .row{
    background-color: #E9ECEF;
}
#foot{
    background-color: #5569DC;
}
.marquee {
    width: 300px; /* the plugin works for responsive layouts so width is not necessary */
    overflow: hidden;
    border:1px solid #ccc;
}