$primary_color1: #5569DC;

@mixin primary_font1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
}

@mixin primary_font2 {
    font-weight: bold;
    line-height: 0.5em;
    font-family: serif;
    color: white;
    font-size: 18px;
}

@mixin  contact-me-font {
    text-align: center;
    font-family:serif;
    color: #1C2349;
}

@mixin footer-font {
    text-align: center;
    font-size: 14px;
    font-family: serif;
    color: white;
    padding: 10px 0px
}

@mixin self-intro{
    font-size: 18px;
    line-height: 2em;
    letter-spacing: normal;
    font-family: sans-serif;
    margin: auto;
    color: #1c2349;
    opacity: 0.8;
}

@mixin main-content-header{
    font-size: 32px;
    font-family: serif;
    color: $primary_color1;
}

@mixin main-content-block {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

@mixin main-content-subheader{
    font-size: 16px;
    font-family: sans-serif;
    color: $primary_color1;
    opacity: 0.8;
    letter-spacing:0.15em
}

@mixin main-content-lineheight {
    font-size: 21px;
    line-height: 2em;
    letter-spacing: normal;
    font-family: sans-serif;
    margin: auto;
    color: #1c2349;
}

@mixin main-content-lineheight-title {
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(28,35,73);
}

@mixin main-content-lightheight-content {
    font-size: 16px;
    font-family: sans-serif;
    color:#1C2349;
    line-height: 1.8em;
    opacity: 0.8;
}

@mixin progress-bar-label{
    width:12em;
    float: left;
    margin-top: calc(1rem - 4px);
    margin-right: 3.5em;
}

@mixin block-padding-setting {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 80px;
}

@mixin  contact-me-block {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 0px !important;
}

/*NavBar Section*/
.navbar{
    background-color: $primary_color1;
    p {
        .navbar-brand{
            @include primary_font1();
        }
    }
    .navbar-nav-p{
        a.nav-item{
            @include primary_font1();
        }
    }
}


/*Simple Intro*/
.intro-card{
    outline: none;
    border:none;
    .card-text{
        @include primary_font2();
    }
  
}

.simple-intro{
    background-color: $primary_color1;
    outline: none;
    border: none;
    padding: 0px;
}

/*Main Content*/
h1.main-content-header{
    @include main-content-header();
}

p.main-content-subheader{
    @include main-content-subheader();
}

div.main-content-lineheight{
    @include main-content-lineheight();
    span.main-content-lineheight-title{
        @include main-content-lineheight-title();
    }
    p.main-content-lightheight-content{
        @include main-content-lightheight-content();
    }
}

div.main-content-block{
    @include main-content-block();
}


.progress-bar-label{
    @include main-content-lightheight-content;
    @include progress-bar-label();
}

p.contact-me-1{
    @include contact-me-font();
    opacity: 0.9;
    line-height: normal;
    letter-spacing:normal;
    font-size: 32px;
}

p.contact-me-2{
    @include contact-me-font();
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing:0.02em;
    margin: 0px 24px;
    padding: 0px;
}

.footer{
    background-color: $primary_color1;
    footer.footer-content{
        @include footer-font();
    }
}

div.block-padding-setting{
    @include block-padding-setting();
}

div.contact-me-2-block,div.contact-me-3-block{
    @include contact-me-block();
}

p.self-intro{
    @include self-intro();
}
   