@import "mixins";

$primary_color1: #5569DC;

/*NavBar Section*/
.navbar{
    background-color: $primary_color1;
    p {
        .navbar-brand{
            @include primary_font1();
        }
    }
    .navbar-nav-p{
        a.nav-item{
            @include primary_font1();
        }
    }
}


/*Simple Intro*/
.intro-card{
    outline: none;
    border:none;
    .card-text{
        @include primary_font2();
    }
  
}

.simple-intro{
    background-color: $primary_color1;
    outline: none;
    border: none;
    padding: 0px;
}

/*Main Content*/

/*Main Content 1-6 header*/
h1.main-content-header{
    @include main-content-header();
}

/*Main Content 1-6 subheader*/
p.main-content-subheader{
    @include main-content-subheader();
}

/*Main Content 2、3、5、6 content lineheight*/
div.main-content-lineheight{
    @include main-content-lineheight();
    span.main-content-lineheight-title{
        @include main-content-lineheight-title();
    }
    p.main-content-lightheight-content{
        @include main-content-lightheight-content();
    }
}

div.main-content-block{
    @include main-content-block();
}

/*Main Content 1 content*/
p.self-intro{
    @include self-intro();
}

/*Progress Bar*/

.progress-bar-label{
    @include main-content-lightheight-content;
    @include progress-bar-label();
}

p.contact-me-1{
    @include contact-me-font();
    opacity: 0.9;
    line-height: normal;
    letter-spacing:normal;
    font-size: 32px;
}

p.contact-me-2{
    @include contact-me-font();
    font-size: 20px;
    line-height: 1.8em;
    letter-spacing:0.02em;
    margin: 0px 24px;
    padding: 0px;
}

.footer{
    background-color: $primary_color1;
    footer.footer-content{
        @include footer-font();
    }
}

div.block-padding-setting{
    @include block-padding-setting();
}

div.contact-me-2-block,div.contact-me-3-block{
    @include contact-me-block();
}


   