@charset "utf-8";
h1{
    text-align: center;
    color: darkorchid;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
body{
    background-image: url(img/2.png);
    background-repeat: repeat-x;
    background-color: wheat;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
}
a:active{
    color: blue;
}
.more{
    text-align: right;
    padding: 20px 24px 20px 20px;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    clear: left;
}
h2{
    border: black 1px solid;
    border-left: gray 15px solid; 
    width: 180px;
}
table{
    width: 50%;
    border: violet 1px solid;
}
th,td{
    padding: 5px 10px;
    border: violet 1px solid;
    border-collapse: collapse;
}
#wrap{
    width: 798px;
    margin: 40px auto;
    padding: 40px 80px;
    border: white 1px solid;
    background-color: white;
}
#a,#b,#c{
    background-color: wheat;
    background-image: url(img/30.jpg);
    background-repeat: repeat-x;
    margin: 20px 0;
    padding: 35px 30px 30px 30px;
}
.ph{
    float: left;
    margin-right: 30px;
}
.data{
    width: 300px;
    float: left;
}
dt{
    clear: left;
    float: left;
    font-weight: bold;
}
@keyframes marquee{
    0%{
        left: 0%;
    }
    100%{
        left:-100%;
    }
}
div.marquee{
    overflow: hidden;
    width: 420px;
    position: relative;margin: auto;
    height: 25px;
}
.marquee div{
    display: block;
    overflow: hidden;
    width:200%;
    height: 25px;
    position: absolute;
    animation: marquee 10s linear infinite;
}
.marquee div span{
    width: 50%;
    float: left;
    font-weight: bold;
}